<h1>Course list</h1>

<%= link_to 'Add Course', new_course_path %>

<thead>
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Intro</td>
    <td>Hour</td>
    <td>Action</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>